body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    background: rgb(75, 74, 74);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: right;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 18px;
    background: #747575;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #424242;
}

#resultado {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}